
<div class="row ">
  <div class="col s12 m12">
    <div class="col s3 m3"></div>
    <div class="col s6 m6">
      <div class="row center">
        <%
        var idBack = idClient
        if (!idClient){ 
            idBack = id
        }%>
       <a href="http://localhost:5001/listar?id=<%=idBack%>" class="btn-floating btn-small waves-effect waves-light blue left"><i class="material-icons">subdirectory_arrow_left</i></a>
        <div class="card">
          <br />
            <div class="card-content">
              <div class="row">
                <p class="left flow-text"><%= title %> </p><br /><br />
                <small class="left ">Número do último registro foi:
                  <% if(last) {%>
                    <%= last %>
                  <%}else{ %>
                    000
                  <%} %>
                </small>
              </div>
              <div class="row">
                 <form class="col s12 ">
                  <br /> <br />
                  <div class="row">
                    <div class="input-field col s3">
                      <i class="material-icons prefix">adjust</i>
                      <input  id="numero" type="text" onchange="checkNum(this.value,  <%= last %>)" value="<%= numero %>">
                      <label for="numero">Número</label>
                    </div>
                    <div class="input-field col s4">
                      <i class="material-icons prefix">album</i>
                      <input id="tipo" type="text" value="<%= type %>">
                      <label for="tipo">Tipo</label>
                    </div>
                    <div class="input-field col s5">
                      <i class="material-icons prefix">block</i>
                      <input id="validade" type="text" value="<%= validade %>">
                      <label for="validade">Validade do <%= type %></label>
                    </div>
                   
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">edit</i>
                      <textarea id="obs"  class="materialize-textarea"><%= obs %></textarea>
                      <label for="obs">Observações</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">map</i>
                      <textarea id="endereco"  class="materialize-textarea"><%= endereco %></textarea>
                      <label for="endereco">Local da entrega</label>
                    </div>
                  </div>
                  <input type="hidden" id="idClient" name="idClient" value="<%=id%>" />
                  <input type="hidden" id="action" name="action" value="<%=action%>" />
                  <button type="submit"  id="createOrcPedBtn" class="btn  right"><i class="material-icons">save</i></button>
                </form>
              </div>
            </div>
          </div>
        <br />
      </div>
    </div>

    <div class="col s4 m4"></div>
  </div>
 
</div>
